#about-page-header {
    margin-top: 2rem;
}

.about-header-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-header-title {
    max-width: 50%;
}

.about-header-title p {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 1rem;
}

.about-header-text {
    padding-right: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}


@media screen and (max-width:1500px) {
    .about-header-title h1 {
        font-size: 40px;
        line-height: 58px;
    }
}

@media screen and (max-width: 1200px) {
    .about-header-title {
        min-width: 400px;
        padding-left: 2rem;
    }

    .about-header-text {
        padding-right: 2rem;
    }

    .about-header-container {
        gap: 3rem;
    }
}

@media screen and (max-width:992px) {
    .about-header-container {
        flex-direction: column;
        gap: 2rem;
    }  

    .about-header-title {
        padding-left: 0;
        min-width: 200px;
    }

    .about-header-text {
        padding-right: 0;
    }
}

@media screen and (max-width: 768px) {
    #about-page-header {
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .about-header-title h1 {
        font-size: 34px;
        line-height: 48px;
    }
}