.category-container .small-category-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    padding: 1.25rem 1.5rem;
}

.category-sidebar-container h3 {
    margin-top: 0;
    text-transform: capitalize;
}

.category-sidebar-container .small-category-icon-container {
    display: none;
}


@media screen and (max-width: 1550px) {
    .category-sidebar-container h3 {
        font-size: 24px;
    }
}

@media screen and (max-width: 1400px) {
    .category-container .small-category-container {
        margin-top: 1rem;
    }

    .category-sidebar-container h2 {
        font-size: 30px;
    }

    .category-sidebar-container h3 {
        font-size: 20px;
    }

    .category-sidebar-container .small-category-icon-container {
        height: 36px;
        width: 36px;
    }
}

@media screen and (max-width: 992px) {
    .category-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .category-sidebar-container h3 {
        font-size: 18px;
        line-height: normal;
    }

    .category-container {
        margin-top: 1rem;
    }

    .category-container .small-category-container {
        width: auto;
        padding: 0.5rem 1rem;
        margin-top: 0;
    }
}