#category-page-header {
    background-color: var(--color-lavendar);
    text-align: center;
}

#category-page-header .display-text {
    color: var(--color-primary);
    text-transform: capitalize;
}

#category-page-header .body-text-01 {
    margin: 1.5rem auto 3rem;
    max-width: 600px;
    color: var(--color-grey-mid);
}

#category-page-header p:last-child {
    text-transform: uppercase;
    font-family: var(--font-family-body);
    letter-spacing: 3px;
    color: var(--color-primary);
}

@media screen and (max-width: 576px) {
    #category-page-header .display-text {
        font-size: 48px;
    }
    
    #category-page-header .body-text-01 {
        margin: 1rem auto 2.5rem;
        font-size: 15px;
    }
    
    #category-page-header p:last-child {
        font-size: 14px;
    }
}